html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline;
}

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: arial, sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

ins,
a {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: inline-block;
}

input,
textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none;
}

* {
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
}

/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.wrap {
  width: 100%;
  height: 100%;
  position: relative;
}

.wrap .bg {
  width: 100%;
  height: 100%;
  background: url(../images/1.jpg) no-repeat 0 0;
  background-size: 100%;
  filter: blur(20px);
}

.wrap main {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: 1.6rem;
  border: 1px solid #fff;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
  padding: 0 0.4rem;
}

header span {
  flex: 1;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  flex-direction: column;
}

header span b {
  color: #fff;
}

header span b:nth-child(1) {
  font-size: 0.48rem;
}

header span b:nth-child(2) {
  font-size: 0.37333rem;
  margin-top: 0.13333rem;
}

header .icon:nth-child(1) {
  font-size: 0.58667rem;
  color: #fff;
}

header .icon:nth-child(3) {
  font-size: 0.58667rem;
  color: #ccc;
}

@keyframes rotates {
  100% {
    transform: rotate(360deg);
  }
}

section {
  flex: 1;
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  align-items: center;
  -webkit-align-items: center;
  flex-direction: column;
  overflow: hidden;
}

section .s-bg {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  display: inline-block;
  border: 50px solid #ccc;
  margin-top: 2.02667rem;
}

section .s-bg .Sia {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: inline-block;
  background: url(../images/1.jpg) no-repeat 0 0;
  background-size: 100%;
}

section .play {
  animation: rotates 30s infinite linear;
}

section .pause {
  animation-play-state: paused;
}

section .s-operation {
  margin-top: 1.6rem;
  width: 100%;
  height: 1.33333rem;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
  padding: 0 0.74667rem;
}

section .s-operation .icon {
  color: #fff;
  font-size: 0.53333rem;
}

section .s-operation .icon:nth-child(1) {
  color: #D53B31;
}

section .s-operation .icon:nth-child(4) {
  transform: rotate(90deg);
}

section .s-time {
  width: 100%;
  height: 0.66667rem;
  margin-top: 0.53333rem;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
  padding: 0 0.26667rem;
}

section .s-time .t-line {
  width: 70%;
  height: 0.05333rem;
  background: #fff;
}

section .s-time .t-line .line2 {
  width: 0;
  height: 100%;
  background: red;
  position: relative;
}

section .s-time .t-line .line2 .t-focus {
  width: 0.26667rem;
  height: 0.26667rem;
  border-radius: 50%;
  display: inline-block;
  background: #fff;
  position: absolute;
  top: 50%;
  margin-top: -0.13333rem;
  right: -0.13333rem;
}

section .s-time span {
  font-size: 0.37333rem;
  color: #fff;
  padding: 0 0.05333rem;
}

section .s-time span:nth-child(1) {
  margin-right: 0.21333rem;
}

section .s-time span:nth-child(3) {
  margin-left: 0.21333rem;
}

section .s-bot {
  width: 100%;
  height: 2.13333rem;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
  padding: 0 0.42667rem;
}

section .s-bot .icon {
  font-size: 0.53333rem;
  color: #fff;
}

section .s-bot .off {
  font-size: 1.33333rem;
}
